html
{
	padding:0px;
	margin: 0px;
}

body
{
	padding: 0px;
	margin: 0px;
}

#main
{
	padding: 10px;
	margin: auto;
}

#inputs
{
	display: grid;
	grid-template-columns: 110px auto;
	grid-column-gap: 10px;
}

#angleinput
{
	grid-column-start: 1;
	grid-column-end: 2;
	display: grid;
	grid-template-rows: auto auto auto;
	padding: 10px;
}

#angleinput input
{
	width: 90px;
}

#sliderInputs
{
	width: 110px;
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-rows: auto auto auto auto;
}

#sliderInputs label
{
	display: block;
}
#sliderInputs input
{
	display: inline;
}