html
{
	padding:0px;
	margin: 0px;
}

#main
{
	margin: auto;
}

#inputs
{
	display: grid;
	grid-columns: 110px auto auto;
}

#angleinput
{
	display: grid;
	grid-rows: auto auto auto;
	padding: 10px;
}

#angleinput input
{
	width: 100px;
}