html
{
	padding:0px;
	margin: 0px;
}

body
{
	padding: 0px;
	margin: 0px;
	background-color: black;
}

label
{
	font-size: 18pt;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	display: block;
}
/*Using a label to ease styling an input, as per the suggestion*/
/*of the following blog post: https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/*/
[type="file"]
{
	display: none;
}

input[type="number"], button, [type="file"] + label, select
{
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	font-size: 24pt;
	background-color: rgb(74, 149, 0);
	padding: 5px;
	border-radius: 5px;
	border: 0px;
}

button, [type="file"] + label
{
	display: block;
	color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}

button:hover, [type="file"] + label:hover, input:hover
{
	background-color: rgb(106, 213, 0);
}

button:active, [type="file"] + label:active
{
	background-color: red;
}

[type="file"] + label
{
	background-image: url("../media/load.png");
}

#saveimage
{
	background-image: url("../media/save.png");
}

#rotateimage
{
	background-image: url("../media/rotate.png");
}

#stopsort
{
	background-image: url("../media/stop_sorting.png");
}

input[type="range"]
{
	-webkit-appearance: none;
	appearance: none;
	height: 15px;
	background: white;
	outline: none;
}

input[type="range"]::-webkit-slider-thumb
{
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: rgb(74, 149, 0);
	border-radius: 50%;
	cursor: pointer;
}

input[type="range"]::-moz-range-thumb
{
	width: 25px;
	height: 25px;
	background: rgb(74, 149, 0);
	border-radius: 50%;
	cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover
{
	background: rgb(106, 213, 0);
}

input[type="range"]::-moz-range-thumb:hover
{
	background: rgb(106, 213, 0);
}

input[type="range"]::-webkit-slider-thumb:active
{
	background: red;
}

input[type="range"]::-moz-range-thumb:active
{
	background: red;
}

select
{
	width: 100%;
	height: 60%;
}

#main, #imagetools, #inputs, #angleinput, #sliderInputs, #sortercontrols
{
	display: grid;
	padding: 5px;
	border-radius: 5px;
}

#preview
{
	padding: 15px;
	border-radius: 5px;
}

#main
{
	background-color: rgb(28, 28, 36);
	grid-template-rows: auto auto auto;
	grid-row-gap: 2px;
	margin: 2px;	
}

#imagetools, #inputs, #preview
{
	background-color: rgb(55,55,72);
}

#imagetools, #inputs
{
	min-width: 500px;
}

#angleinput, #sliderInputs, #sortercontrols
{
	background-color: rgb(65,65,84);
}

#imagetools
{
	height: 50px;
	grid-template-columns: auto auto auto;
	grid-column-gap: 5px;
}

#preview
{
	margin: auto;
}

#preview canvas
{
	display: block;
	margin: auto;
}

#inputs
{
	grid-template-columns: 110px auto auto;
	grid-column-gap: 5px;
}

#angleinput
{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-template-rows: auto auto auto;
}

#angleinput input
{
	width: 95px;
}

#sliderInputs
{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-template-rows: auto auto auto auto;
}

#sliderInputs div
{
	display: grid;
	grid-template-columns: auto 100px;
	grid-column-gap: 5px;
}

#sliderInputs input[type="range"]
{
	grid-column-start: 1;
	grid-column-end: 2;
}
#sliderInputs input[type="number"]
{
	grid-column-start: 2;
	grid-column-end: 3;
}

#sortercontrols
{
	grid-template-rows: auto auto;
}