html
{
	padding:0px;
	margin: 0px;
}

body
{
	padding: 0px;
	margin: 0px;
	background-color: black;
}

label
{
	font-size: 18pt;
	font-family: Helvetica, Arial, sans-serif;
	color: #565759;
	display: block;
}

[type="file"]
{
	background-color: #1E1400;
	border-radius: 5px;
}

[type="file"] + label
{
	display: none;
}

input[type="number"]
{
	font-family: Helvetica, Arial, sans-serif;
	color: #85837F;
	font-size: 24pt;
	background-color: #1E1400;
	padding: 5px;
	border-radius: 5px;
	border: 0px;
}

input[type="range"]
{
	height: 10px;
	background: #1E1400;
	border-radius: 5px;
	color: #85837F;
	border: 0px;
}

button
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18pt;
	display: block;
	background-color: #1E1400;
	color: #85837F;
	border: 0px;
	border-radius: 5px;
}

select
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18pt;
	color: #85837F;
	background-color: #1E1400;
	border-radius: 5px;
	width: 100%;
	height: 60%;
	border: 0px;
}

#main
{
	display: grid;
	grid-template-rows: auto auto auto;
	grid-row-gap: 2px;
	padding: 2px;
	margin: 2px;
	border-radius: 5px;
	background-color: #121A2C;
}

#imagetools
{
	display: grid;
	height: 50px;
	grid-template-columns: auto auto auto;
	grid-column-gap: 5px;
	background-color: #000614;
	padding: 5px;
	border-radius: 5px;
}

#preview
{
	margin: auto;
	padding: 5px;
	border-radius: 5px;
	background-color: #000614;
}
#preview canvas
{
	display: block;
	margin: auto;
}

#inputs
{
	
	display: grid;
	grid-template-columns: 110px auto auto;
	grid-column-gap: 2px;
	background-color: #020817;
	border-radius: 5px;
	padding: 5px;
}

#angleinput
{
	grid-column-start: 1;
	grid-column-end: 2;
	display: grid;
	grid-template-rows: auto auto auto;
	background-color: #000614;
	border-radius: 5px;
	padding: 5px;
}

#angleinput input
{
	width: 95px;
}

#sliderInputs
{
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-rows: auto auto auto auto;
	background-color: #000614;
	border-radius: 5px;
	padding: 5px;
}

#sliderInputs input[type="range"]
{
	width: 80%;
}
#sliderInputs input[type="number"]
{
	width: 15%;
}

#sortercontrols
{
	display: grid;
	grid-template-rows: auto auto;
	background-color: #000614;
	border-radius: 5px;
	padding: 5px;
}