html
{
	padding:0px;
	margin: 0px;
}

body
{
	padding: 0px;
	margin: 0px;
}

label
{
	display: block;
}

#main
{
	padding: 10px;
	margin: 10px auto;
	border-radius: 10px;
}

#imagetools
{
	
}

#preview
{
	margin: auto;
}

#inputs
{
	display: grid;
	grid-template-columns: 110px auto auto;
	grid-column-gap: 10px;
}

#angleinput
{
	grid-column-start: 1;
	grid-column-end: 2;
	display: grid;
	grid-template-rows: auto auto auto;
	padding: 10px;
}

#angleinput input
{
	width: 90px;
}

#sliderInputs
{
	width: 110px;
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-rows: auto auto auto auto;
}

#sliderInputs input
{
	display: inline;
}

#sortercontrols
{
	display: grid;
	grid-template-rows: auto auto;
}

#sortercontrols div
{
	
}